## Visual Studio ##
.vs/
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

## .NET Core ##
project.lock.json
project.fragment.lock.json
artifacts/

## User Specific ##
*.user
*.suo
*.userprefs

## Luno Specific ##
settings.json
*.log
*.zip
Publish/
